%head
  %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic", :rel => "stylesheet", :type => "text/css"}/
  %meta{:charset => "utf-8"}/
  %title KidsGoMobile
  %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  / Fav and touch icons
  %link{:href => "apple-touch-icon-114x114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
  %link{:href => "apple-touch-icon-72x72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
  %link{:href => "apple-touch-icon-57x57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
  %link{:href => "favicon.png", :rel => "shortcut icon"}/
  = stylesheet_link_tag    "application", :media => "all"
  = csrf_meta_tags
%body
  = render 'header'
  = yield
  = render 'footer'
  = javascript_include_tag "application"
